
 .gif-div {
      background: #9dccea;
      width: 240px;
      padding: 0px;
      margin-bottom: 20px;
      border: #56894c solid 1px;
  }

  .name {
    font-family: 'Noto Sans JP', sans-serif;
  }

  .text-class {
    color: grey;
    font-size: 1rem;
    padding-left: 20px;
    font-family: 'Noto Sans JP', sans-serif;

  }

  .small-txt {
    color: rgb(122, 128, 126);
    font-size: 0.6rem;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .add-lbl {
    color:#728072;
    font-family: 'Noto Sans JP', sans-serif;
  }







